body {
  margin: 0;
  position: relative;
  background-image: url("image/topography.png");
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
table {
  table-layout: fixed;
  font-family: arial, sans-serif;
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}

.search {
  background-color: #444444;
  margin: auto;
}

.searchContain {
  margin: auto;
  margin-right: 20px;
  display: flex;
}
.searchContain > button{
  margin-right: 20px;
}

td, th {
  border: 1px solid #dddddd;
  word-wrap:break-word;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.selected {
  background-color:rgb(255, 238, 1);
  font-weight:bold;
}

#company {
  font-size: 20pt;
  font-weight: bold;
  text-shadow: none;
  line-height: 20pt;
  width: 200px;
  position: absolute;
  top: 50px;
  left: 20px;
}

#id {
  font-size: 12pt;
  line-height: 12pt;
  position: absolute;
  top: 20px;
  right: 20px;
}
#contact {
  font-size: 12pt;
  line-height: 12pt;
  font-weight: bold;
  text-shadow: none;
  width: 150px;
  position: absolute;
  top: 120px;
  left: 250px;
}
#name {
  font-size: 16pt;
  line-height: 16pt;
  font-weight: bold;
  text-shadow: none;
  position: absolute;
  top: 140px;
  left: 20px;
}
#addresses {
  font-size: 12pt;
  line-height: 12pt;
  font-weight: bold;
  text-shadow: none;
  position: absolute;
  top: 180px;
  left: 250px;
}
.contain {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-around;
  background-color: #555555;
  padding-top: 1em;
  width: 85vw;
  margin: auto;
  margin-bottom: 50px;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tabBtn {
  background-color: #555555;
  color: white;
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px 32px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.tabBtnb {
  background-color: #333333;
  color: white;
  margin-bottom: 1px;
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.tabBtn:focus {
  outline:none;
}
.tabBtnb:focus{
  outline:none;
}
.tabBtn.checked {
  background-color: #333333;
  color: white;
  margin-bottom: 1px;
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.tabBtnb.checked {
  background-color: #555555;
  color: white;
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px 32px;
  margin-bottom: -1px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.headline {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
}

.top{
  display: flex;
  background-color: #555555;
  margin-bottom: 50px;
  border-bottom-style: solid;
  border-bottom-color: 	#191970;
}

#heading {
  padding:0px;
  font-family: "Brush Script MT", cursive;
	font-size: 3em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 2em;
  margin: 0px;
  color: rgb(230, 230, 230);
  text-shadow: 5px 5px 4px BLACK;
  background-color: #555555;
}
.btnCtn{
  font-size: 1.5em;
  color: WHITE;
  padding-top: 1px;
  margin-left: 10vw;
  margin-top: 20px;
  margin-bottom: -1px;
}
.logged{
  margin-left: 5vw;
  color: WHITE;
  background-color: #191970;
}
.goToUser{
color: black;
font-size: 1.5em;
}

.contactContainer{
  background-position: 0px 0px;
  background-size: 500px 200px;
  background-image: url("image/drawing.svg");
  position: relative;
  flex-direction: row; 
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  margin: 10px;
  width: 400px;
  height: 200px;
  border-radius: 4px;
  box-shadow: 10px 10px 5px #222;
  line-height: 200%;
  text-shadow: 1px 1px 4px WHITE;
  font-size: 1.5em;
  background-color: white;
  color: black;
}
.contain2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.buttonContain {
  margin-left: 200px;
  margin-right: 200px;
}
.showMorebutton {
  margin: auto;
  background-color: #333333;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
